.user-details {
  width: 40%;
  background-color: $color-transparent;
  padding: 2rem;
  text-align: center;
  position: relative;

  .user--img {
    width: 100%;
    margin: 2rem 0;
    border: 2px solid $color-text-gray;
    border-radius: 50%;
  }

  .user__text--info {
    text-align: center;
    line-height: 3rem;
    word-spacing: 0.3rem;
    text-transform: uppercase;

    .user__text--primary {
      @include fonts(2rem, 600);
      color: $color-secondary-gray;
    }

    .user__text--secondary {
      @include fonts(1.5rem, bold);
      color: $color-secondary-light;
    }
  }

  .user__action--info {
    @include flexPosition(space-around);
    margin-top: 2rem;

    .user__text--tertiary {
      @include fonts(1.4rem, 500);
    }
  }
}

.user__text--date {
  position: absolute;
  left: 10%;
  margin: 2rem 0;
  @include fonts(1.5rem, 500);

  span {
    color: $color-secondary-gray;
  }
}
