.repo__contianer {
  width: 100%;
  border-bottom: 1px solid $color-dark-gray;
  margin: 2.5rem 0;

  .repo__header {
    @include flexPosition(space-between);
    margin: 1rem 0;
    .repo__header--content {
      display: flex;

      a {
        font-size: 2rem;
        text-decoration: none;
        color: $color-links-blue;
      }
      .repo__status {
        border: 1px solid $color-dark-gray;
        padding: 0.3rem 0.5rem;
        border-radius: 20%;
        margin: 0 1rem;
        @include fonts(1.2rem, bold);
        color: $color-text-gray;
      }
    }

    .repo__header--star {
      margin-right: 3%;
      padding: 0.3rem 0.5rem;
      border-radius: 20%;
      @include fonts(1.4rem, bold);
      cursor: pointer;
      transition: all 0.2s;
      color: $color-text-gray;
      border: 1px solid $color-dark-gray;

      display: inline-block;
      &:hover {
        color: $color-secondary-gray;
        border-color: $color-secondary-gray;
      }
    }
  }
  .repo__description {
    @include fonts(1.3rem, 500);
    padding: 1rem 0;
    color: $color-text-gray;
  }

  .repo__counts {
    @include flexPosition(space-between);
    .repo__vote {
      @include flexPosition(space-around);
      align-items: center;
      margin: 1rem 0;

      .stars,
      .fork {
        padding: 0 1rem;
        color: $color-text-gray;
        @include fonts(1.5rem, bold);
      }
      .stars {
        .fa-star {
          margin: 0 0.2rem;
        }
      }
      .update {
        color: $color-secondary-gray;
        @include fonts(1.1rem, 500);
      }
    }

    .repo__updated {
      padding-top: 2rem;
      color: $color-secondary-gray;
      @include fonts(1.1rem, 500);

      span {
        color: $color-primary-light;
        @include fonts(1.1rem, 500);
      }
    }
  }
}

.repos__fetchmore {
  text-align: center;

  .repos__fetch--btn {
    @include button;
  }
}
