.pinned {
  padding: 1rem;
  margin-top: 1rem;

  .pinned__repo--text {
    @include fonts(1.5rem, 600);
    color: $color-secondary-light;
  }

  .pinned__box {
    display: flex;
    flex-wrap: wrap;

    .pinned__item {
      padding: 1rem;
      margin: 1rem;
      width: 45%;
      border-radius: 1rem;
      border: 1px solid $color-links-blue;

      .pinned__item--header {
        padding: 1rem;
        @include flexPosition(space-between);
        .pinned__text--primary a {
          @include fonts(1.5rem, 500);
          @include fontStyle(none, none);
          color: $color-links-blue;
        }

        .pinned__text--primary a:active {
          @include fontStyle(none, none);
        }

        .pinned__text--secondary {
          color: $color-secondary-gray;
        }
      }
      .pinned__text--paragraph {
        padding: 1rem 0.5rem;
        @include fonts(1.3rem, 500);
        color: $color-secondary-gray;
      }

      .pinned__item--stats {
        @include flexPosition(space-between);
      }

      .pinned__item--language {
        margin: 0.5rem 0;
        @include flexPosition(space-between);
      }
    }
  }
}
