.navLinks {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  @include fontStyle(none, none);
  @include fonts(2rem, bold);
  transition: all 0.2s;
  border-bottom: 1px solid $color-secondary-gray;
  &:hover {
    color: $color-secondary-light;
    border-color: $color-secondary-light;
  }
}

.active {
  color: $color-secondary-light;
  border-color: $color-secondary-light;
}
