@mixin relativeCenter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin absoluteCenter($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin flexPosition($content) {
  display: flex;
  justify-content: $content;
}

@mixin fonts($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin fontStyle($dec, $style) {
  text-decoration: $dec;
  font-style: $style;
}

@mixin button {
  @include fonts(2rem, 500);
  background-color: $color-links-blue;
  padding: 0.5rem 1.4rem;
  color: $color-primary-light;
  margin: 3rem 0;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    border: 1px solid $color-primary-light;
  }
}
