$color-primary-dark: #040313;
$color-primary-light: aliceblue;

$color-secondary-light: #eeeeee;
$color-secondary-gray: #aaaaaa;
$color-links-blue: #0c4de7;

$color-dark-gray: #2a2a36;
$color-text-gray: #6e6e74;
