.pinned {
  padding: 1rem;
  border: 1px solid gray;
}

.pinned__repo--text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e7e7e7;
}

.pinned__box {
  display: flex;
  flex-wrap: wrap;
}

.pinned__item {
  padding: 1rem;
  margin: 1rem;
  width: 45%;
  border-radius: 1rem;
  border: 1px solid gray;
}

.pinned__item--header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.pinned__text--primary a {
  font-size: 1.5rem;
  text-decoration: none;
  font-style: none;
  color: #0c4de7;
}

.pinned__text--primary a:active {
  text-decoration: none;
  font-style: none;
}

.pinned__text--secondary {
  color: #aaaaaa;
}

.pinned__text--paragraph {
  padding: 1rem 0.5rem;
  font-size: 1.3rem;
  color: #aaaaaa;
}
