.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.curr-div {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.curr-div h4 {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}
